[submodule "/home/harshasrisri/.rc/dot/vim/bundle/vim-autotags"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/vim-autotags
	url = https://github.com/basilgor/vim-autotags
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/ctrlp.vim"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/fly.vim"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/fly.vim
	url = https://github.com/vim-scripts/fly.vim
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/nerdtree"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/supertab"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/taglist.vim"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/vim-commentary"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/matrix.vim--Yang"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/matrix.vim--Yang
	url = https://github.com/vim-scripts/matrix.vim--Yang
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/vim-statline"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/vim-statline
	url = https://github.com/scrooloose/vim-statline
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/peaksea"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/vim-colors-solarized"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/vim-airline"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "/home/harshasrisri/.rc/dot/vim/bundle/tagbar"]
	path = /home/harshasrisri/.rc/dot/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "/home/harshasrisri/.rc/dot/vim/Pathogen"]
	path = /home/harshasrisri/.rc/dot/vim/Pathogen
	url = http://github.com/tpope/vim-pathogen
